@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("https://wallpapercrafter.com/desktop/13142-hill-night-horizon-dark-minimalism-4k.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#wallpaper {
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/main_image_star-forming_region_carina_nircam_final-1280.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}